[Unit]
Description=Minecraft Bedrock Server Management Service
After=network.target

[Service]
Type=oneshot
ExecStart=$python_dir /var/games/mcbe/demon.py
ExecStop=$python_dir /var/games/mcbe/stop.py
Restart on-failure
User=root
Group=root
RemainAfterExit=yes
[Install]
WantedBy=multi-user.target